<header>
  <h1><%= @title %></h1>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
      Picture goes here
    </div>
    <div class="col-sm-9">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus laboriosam omnis deleniti rem a modi culpa doloribus expedita sit, iure esse nihil debitis officia, voluptate voluptatum quidem totam hic quas!
    </div>
    <div class="col-sm-2">A few seconds ago</div>
  </div>
</div>
