header
  h1 =@title

div.container
  div.row
    div.col-sm-1 Picture goes here
    div.col-sm-9
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia a veniam laudantium saepe fuga iste harum eos sint alias voluptas, delectus animi necessitatibus veritatis accusantium voluptate quae fugit temporibus dolorum!
    div.col-sm-2 A few seconds ago
