<div class="container">
  <div class="jumbotron">
    <h1>ARSS2 Aggregator <small>ARSS from Rubies</small></h1>
    <a href="/feed/http://feeds.bbci.co.uk/news/rss.xml"
       class="btn btn-large btn-primary">
      BBC Feed
    </a>
  </div>
</div>
