$a-road: #00af5d;
$m-way: #004fb0;
$info-bg: #ffffff;

$footer-border: #aaa;
$footer-bg: #ddd;
$footer-text: #000;

$a-road-text: #ffe800;
$highlight: #ffff88;
$date-highlight: #000080;

h1 {
    text-align: center;
}

nav img {
    margin-top: -8px;
}

.bigger {
    font-size: 1.2em;
}

footer {
    margin-top: 20px;
    padding: 10px 0 0 10px;
    border-top: 1px solid $footer-border;
    background-color: $footer-bg;
    color: $footer-text;

    nav ul {
        list-style-type: none;

        li {
            float: left;
            margin-right: 20px;
        }
    }

    small {
        font-size: 80%
    }
}

article {       /* A road defaults */
    border: 5px solid white;
    border-radius: 15px;
    margin: 5px 0;
    padding: 5px 10px;
    background-color: $a-road;
    color: white;
    line-height: 16pt;

    p {
        margin: 10px 20px;
    }

    h1 {    /* Axx road name */
        color: $a-road-text;
        display: block;
        font-size: 115%;
        font-weight: bold;
        margin: 10px 20px 20px 10px;
        float: left;
    }

    &.m-way {   // Motorway
        background-color: $m-way;

        h1 { color: white; }
    }

    span.date {
        color: $highlight;
    }
}

@media (max-width: 992px) {
    li.active {
        display: none;
    }
}
