$base-colour: #6c6a5a;
$base-one:    #e55041;
$base-two:    #6ea1ff;
$base-three:  #ddd9d0;
$base-four:   #831d16;

$footer-border:  #e5e5e5;
$footer-bg:      #f0f0f0;
$footer-text:    #777;

$highlight:      #ffff88;
$date-highlight: #000080;

$header-bg:      $base-three;
$header-link:    $base-one;

$article-bg:     $base-colour;
$article-link:   $base-two;

body {
    background: linear-gradient($base-four, black);
}

h1 {
    text-align: center;
}

nav img {
    margin-top: -8px;
}

.bigger {
    font-size: 1.2em;
}

header {
    background: $header-bg;
    color: black;
    margin-top: -18px;
    margin-bottom: 20px;
    padding: 10px;

    h5, h6 {
        text-align: center;
    }

    a {
        color: $header-link;

        &:hover {
            color: lighten($header-link, 20);
        }
    }
}

article {
    padding: 10px;
    margin-bottom: 3px;
    background: $article-bg;
    color: white;

    h4 {
        margin-top: 0;
        margin-left: 0.5em;
    }

    a, a:visited {
        color: $article-link;

        &:hover {
            color: lighten($article-link, 20);
        }
    }

    .humantime {
        text-align: right;
        font-size: 80%;
    }
}

footer {
    margin-top: 20px;
    padding: 10px 0 0 10px;
    border-top: 1px solid $footer-border;
    background-color: $footer-bg;
    color: $footer-text;

    nav ul {
        list-style-type: none;

        li {
            float: left;
            margin-right: 20px;
        }
    }

    small {
        font-size: 80%
    }
}


@media (max-width: 992px) {
    li.active {
        display: none;
    }
}
